body{
        height: 1500px;
    }
.box{
    width: 200px;
    height: 200px;
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    line-height: 200px;
  
}
nav{
    width: 90%;
    height: 76px;
    background-color: yellow;
    position: fixed;

}
.box1{
    background-color: #0077b6;

}
.box2{
    background-color:#83c5be;
}